@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: rgb(57,57,57);
  background: linear-gradient(163deg, rgba(57,57,57,1) 35%, rgba(28,28,28,1) 100%);
  color: white;
  font-family: 'Montserrat';
  font-size: 18px;
  text-align: center;
}

a {
  color: #dd4a4a;
}

h2, h3 {
  margin: 0;
}

.game-select-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.game-button {
  padding: 40px;
}

.game-button img {
  width: 315px;
  height: 250px;
  margin-bottom: 10px;
}