@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: rgb(57,57,57);
  color: white;
  font-family: 'Montserrat';
  font-size: 18px;
  text-align: center;
  margin: 0;
}

a {
  color: #dd4a4a;
}

h1 {
  text-align: center;
}

h2, h3 {
  margin: 0;
}

.game-button-container {
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 700px) {
  .game-button-container {
    grid-template-columns: auto;
  }
}

.game-button {
  text-decoration: none;
  padding: 10px;
}

.game-button div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px; 
  padding: 40px; 
  background: #5a5a5a; 
  border-radius: 20%;
}

.game-button p, .game-button h1 {
  padding: 30px;
  color: white;
}

.game-button h1 {
  font-size: 24px;
}

.game-button img {
  width: 315px;
  height: 250px;
  margin-bottom: 10px;
}

.text-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.text-wrapper img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.devlog-container {
  height: 300px;
  width: 600px; 
  padding: 40px;
  margin: 10px; 
  background: #5a5a5a; 
  border-radius: 20%;
}

.devlog-container div {
  width: 100%;
  padding: 0;
  background: transparent;
  border-radius: 0%;
}

.devlog-container h5 {
  text-align: center;
  margin: -10;
}